.vs
test/*.db
test/*.user
test/ipch
test/Debug
test/Release
test/x64
test/gtest/*.db
test/gtest/*.user
test/gtest/ipch
test/gtest/Debug
test/gtest/Release
test/gtest/x64
test/gtest_main/*.db
test/gtest_main/*.user
test/gtest_main/ipch
test/gtest_main/Debug
test/gtest_main/Release
test/gtest_main/x64
test_author/*.db
test_author/*.user
test_author/ipch
test_author/Debug
test_author/Release
test_author/x64
make/*.o
make/*.a
*.obj
*.exe
*.o
*.prv
*.layout
*.depend
*.out
Koala doc*
